

body{
   font-family:"Lucida Grande";
 }

h2{
   font-family:"Lucida Grande";
background-color:#dddddd;
}
.title {
  font-size:60px;
  color: #045FB4;
  background-color:#dddddd;
  opacity: 0.7;
  align:center;
}
.img{
  width:2000px;
  
  opacity: 0.8;
}
 
 img{
    width:1060px;
    height:800px;
}
.a{
  font-family:sans-serif;
}
.div{

background-image:url(top.png);
background-size:cover;
align:center;
}
