

body{
   
   font-family:"Lucida Grande";
   background-color:#dddddd;
   
 }

div{
   height:600px;
 background-image:url(https://www.city.sendai.jp/shiminkoho/shise/koho/koho/shisedayori/2017-04/images/housin_img_01.jpg);
 background-size:cover;
}

h2{
   font-family:"Lucida Grande";
background-color:#ffff11;
   color:#045FB4;
  
}
.title {
  font-size:60px;
  color: #045FB4;
  background-color:#ffff11;
  opacity: 0.7;
  padding:10px;
   background-width:1170px;
}
    
}
p{
   font-size:22px;
   background-color:#ffff11;
   padding-left:20px;

}
a{
  font-family:"メイリオ",Meiryo,sans-serif;
   font-size:36px;
   text-align:center;
    color: #045FB4;
   text-decoration:none;
}
   footer{
      padding:20 40px;
      text-align:center;
      background-color:white;
      background-padding:30px;
}
